Repository umrover/mrover-ros2, pull requests merged in 2024-09, with the labels that each got.

#6 Remove deprecated WGPU swapchain, allow window to resize
  simulator/simulator.hpp
  simulator/simulator.render.cpp
Labels: simulator

#7 Upgrade deprecated WGPU callback APIs to v2
  simulator/pch.hpp
  simulator/simulator.hpp
  simulator/simulator.render.cpp
  simulator/urdf.cpp
Labels: simulator

#9 Add percep ansible
  ansible/percep.yml
  ansible/roles/percep_build/tasks/main.yml
Labels: perception, devops

#3 Add the ZED Wrapper and Object Detector
  CMakeLists.txt
  build.sh
  config/object_detector.yaml
  config/zed.yaml
  data/.gitignore
  data/Large-Dataset.onnx
  launch/perception.launch.py
  parameter_utils/parameter.hpp
  perception/object_detector/object_detector.cpp
  perception/object_detector/object_detector.hpp
  perception/object_detector/object_detector.processing.cpp
  perception/object_detector/pch.hpp
  perception/point.hpp
  perception/zed_wrapper/pch.hpp
  perception/zed_wrapper/zed_wrapper.bridge.cpp
  perception/zed_wrapper/zed_wrapper.bridge.cu
  perception/zed_wrapper/zed_wrapper.cpp
  perception/zed_wrapper/zed_wrapper.hpp
  tensorrt/inference.cu
  tensorrt/inference.cuh
  tensorrt/inference_wrapper.cpp
  tensorrt/inference_wrapper.hpp
  tensorrt/logger.cu
  tensorrt/logger.cuh
  tensorrt/pch.hpp
  tensorrt/tensorrt.cpp
  tensorrt/tensorrt.hpp
Labels: perception
