Repository umrover/mrover-ros2, pull requests merged in 2025-03, with the labels that each got.

#80 Allow enum to be defined as int parameter
  parameter_utils/parameter.hpp
  style.sh
Labels: enhancement

#21 Update Tag Detector
  .github/workflows/ci.yml
  .gitmodules
  CMakeLists.txt
  build.sh
  cmake/macros.cmake
  config/perception.yaml
  config/simulator.yaml
  esw/gst_websocket_streamer/gst_websocket_streamer.cpp
  esw/gst_websocket_streamer/gst_websocket_streamer.hpp
  esw/gst_websocket_streamer/main.cpp
  esw/usb_camera/pch.hpp
  esw/usb_camera/usb_camera.cpp
  esw/usb_camera/usb_camera.hpp
  launch/perception.launch.py
  lie/conversions.py
  navigation/context.py
  perception/executables/image_object_detector.cpp
  perception/executables/image_tag_detector.cpp
  perception/executables/stereo_object_detector.cpp
  perception/executables/stereo_tag_detector.cpp
  perception/executables/zed.cpp
  perception/object_detector/object_detector.cpp
  perception/object_detector/object_detector.hpp
  perception/object_detector/object_detector.parsing.cpp
  perception/object_detector/object_detector.processing.cpp
  perception/object_detector/pch.hpp
  perception/tag_detector/pch.hpp
  perception/tag_detector/tag_detector.cpp
  perception/tag_detector/tag_detector.hpp
  perception/tag_detector/tag_detector.processing.cpp
  perception/tag_detector/tag_detector.threshold.cpp
  perception/zed_wrapper/zed_wrapper.bridge.cu
  perception/zed_wrapper/zed_wrapper.cpp
  perception/zed_wrapper/zed_wrapper.hpp
  pyproject.toml
  scripts/visualizer.py
  simulator/simulator.cpp
  simulator/simulator.hpp
  simulator/simulator.physics.cpp
  simulator/urdf.cpp
  tensorrt/inference.cu
  tensorrt/inference.cuh
  tensorrt/inference_wrapper.cpp
  tensorrt/inference_wrapper.hpp
  tensorrt/tensorrt.cpp
  tensorrt/tensorrt.hpp
Labels: perception

#84 Tag detector and object detector + update cuda to support 12.6
  CMakeLists.txt
  build.sh
  cmake/macros.cmake
  config/perception.yaml
  esw/gst_websocket_streamer/gst_websocket_streamer.cpp
  esw/gst_websocket_streamer/gst_websocket_streamer.hpp
  esw/gst_websocket_streamer/main.cpp
  esw/usb_camera/pch.hpp
  esw/usb_camera/usb_camera.cpp
  esw/usb_camera/usb_camera.hpp
  launch/perception.launch.py
  perception/executables/image_object_detector.cpp
  perception/executables/image_tag_detector.cpp
  perception/executables/stereo_object_detector.cpp
  perception/executables/stereo_tag_detector.cpp
  perception/executables/zed.cpp
  perception/object_detector/object_detector.cpp
  perception/object_detector/object_detector.hpp
  perception/object_detector/object_detector.parsing.cpp
  perception/object_detector/object_detector.processing.cpp
  perception/object_detector/pch.hpp
  perception/tag_detector/pch.hpp
  perception/tag_detector/tag_detector.cpp
  perception/tag_detector/tag_detector.hpp
  perception/tag_detector/tag_detector.processing.cpp
  perception/tag_detector/tag_detector.threshold.cpp
  perception/zed_wrapper/zed_wrapper.bridge.cu
  perception/zed_wrapper/zed_wrapper.cpp
  perception/zed_wrapper/zed_wrapper.hpp
  simulator/urdf.cpp
  tensorrt/inference.cu
  tensorrt/inference.cuh
  tensorrt/inference_wrapper.cpp
  tensorrt/inference_wrapper.hpp
  tensorrt/tensorrt.cpp
  tensorrt/tensorrt.hpp
Labels: perception, enhancement

#65 ROS2 drive and arm motor bridges
  .github/workflows/ci.yml
  .gitmodules
  .vscode/settings.json
  CMakeLists.txt
  ansible/jetson.yml
  ansible/roles/esw/files/bin/fdcanusb_daemon
  cmake/macros.cmake
  config/arm.yaml
  config/drive.yaml
  config/esw.yaml
  config/simulator.yaml
  config/superstructure.yaml
  esw/arm_hw_bridge.cpp
  esw/can_bridge/can_bridge.cpp
  esw/can_bridge/pch.hpp
  esw/can_device/can_device.hpp
  esw/differential_drive_controller.cpp
  esw/drive_hw_bridge.cpp
  esw/messaging/messaging.hpp
  esw/motor_library/brushed.cpp
  esw/motor_library/brushed.hpp
  esw/motor_library/brushless.hpp
  esw/motor_library/controller.hpp
  esw/simple_bridge.cpp
  launch/base.launch.py
  launch/jetson_base.launch.py
  launch/jetson_can.launch.py
  launch/jetson_es.launch.py
  launch/simulator.launch.py
  lie/conversions.py
  msg/MotorsAdjust.msg
  msg/Position.msg
  msg/Velocity.msg
  navigation/context.py
  pyproject.toml
  scripts/visualizer.py
  simulator/simulator.cpp
  simulator/simulator.hpp
  simulator/simulator.physics.cpp
  srv/AdjustMotor.srv
  starter_project/autonomy/launch/starter_project.launch.py
  superstructure/superstructure.py
  units/units.hpp
  units/units_eigen.hpp
Labels: esw

#86 ROS2 drive and arm hw bridges
  .vscode/settings.json
  CMakeLists.txt
  ansible/jetson.yml
  ansible/roles/esw/files/bin/fdcanusb_daemon
  cmake/macros.cmake
  config/arm.yaml
  config/drive.yaml
  config/esw.yaml
  config/superstructure.yaml
  esw/arm_hw_bridge.cpp
  esw/can_bridge/can_bridge.cpp
  esw/can_bridge/pch.hpp
  esw/can_device/can_device.hpp
  esw/differential_drive_controller.cpp
  esw/drive_hw_bridge.cpp
  esw/messaging/messaging.hpp
  esw/motor_library/brushed.cpp
  esw/motor_library/brushed.hpp
  esw/motor_library/brushless.hpp
  esw/motor_library/controller.hpp
  esw/simple_bridge.cpp
  launch/jetson_base.launch.py
  launch/jetson_can.launch.py
  launch/jetson_es.launch.py
  msg/MotorsAdjust.msg
  msg/Position.msg
  msg/Velocity.msg
  srv/AdjustMotor.srv
  superstructure/superstructure.py
  units/units.hpp
  units/units_eigen.hpp
Labels: esw, enhancement
